body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: beige;
  }

  .top-nav {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    padding: 1em;
  }

  .user-info {
    text-align: center;
    padding: 1em;
    background-color: #fff;
  }

  .profile-pic {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
  }

  .gallery {
    max-width: 100px;
    margin: 2em;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
  }

  .gallery-item {
    width: 100px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
  }

  .bottom-nav {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    padding: 1em;
  }